.filter-tree-icon { display: none !important; }

$grid-row-border-width : 0px;
$grid-row-cell-focus-border-width : 0px;
$panel-body-font-size: 13;
$grid-row-cell-font-size: 13;
$grid-row-cell-font-weight: 'bold';
$grid-row-cell-selected-color: dynamic(#fff);
$grid-row-cell-selected-background-color: dynamic(#843f33);
//$grid-row-cell-focus-color: dynamic(#fff);
$grid-row-cell-focus-background-color: dynamic($grid-row-cell-over-background-color);

$grid-body-border-width: 0;
$panel-border-color : transparent;
$panel-border-width: 0;
$panel-frame-border-width: 0;
$panel-header-border-width: 0;
$panel-header-border-color : transparent;
$panel-header-inner-border-width: 0;
$panel-header-inner-border-color : transparent;

.x-grid-body {
    /*border-width: 0 !important;*/
}